:root {
    --card-width: 127px;
    --card-height: 176px;
    /* --card-height: calc(var(--card-width) / 75 * 104); */

    --angle: 90deg;
    --show-debug: 0;
    --this-scale: 1;
    --rotate-times: 0;
    --card-scale-hover: 1.15;
    --card-scale-active: 1.15;
}

:root:has(.scene-3d) {
    --card-scale-hover: 1;
    --card-scale-active: 1;
}

body.no-scale {
    --card-scale-hover: 1;
}

/*******************************************************************************/
/* card */
.card {
    left: 0;
    top: 0;
}

.card {
    display: flex;
    justify-content: center;

    cursor: pointer;

    font-family: monospace;
    font-weight: normal;
    font-size: var(--font-size);
    line-height: 1.0;

    width: var(--card-width);
    min-width: var(--card-width);
    height: var(--card-height);

    --bg-image: "";
    --text-shadow-color: #000;

    color: white;
    text-shadow: 2px 0 var(--text-shadow-color),
        -2px 0 var(--text-shadow-color),
        0 2px var(--text-shadow-color),
        0 -2px var(--text-shadow-color),
        1px 1px var(--text-shadow-color),
        -1px -1px var(--text-shadow-color),
        1px -1px var(--text-shadow-color),
        -1px 1px var(--text-shadow-color);
    user-select: none;

    position: relative;

    transform-origin: center center;

    position: absolute;
    --left: calc(var(--x) * 1px);
    --top: calc(var(--y) * 1px);
    --t-z: calc(var(--z) * 1px);

    transform:
        translate3d(
            var(--left),
            var(--top),
            var(--t-z)
        );

    left: 0;
    top: 0;

    transition:
        transform var(--anime-move-time) linear,
        opacity var(--anime-move-time) linear,
        scale var(--anime-move-time) linear;
}

.card::before,
.card::after {
    pointer-events: none;
}

.card::after {
    z-index: var(--z-index-card-after);
}

/******************************************************************************/
/* hover */
.card:hover .face .info_pay,
.card:hover .face .info,
.card:hover .face .info::after,
.card:hover .face .image::after,
.card:hover .face .image,
.card:hover .face,
.card:hover::before,
.card:hover::after {
    animation: none;
    transition: none;
    transition-duration: 0s;
}

.card:hover{
    --this-scale: var(--card-scale-hover);
    opacity: 1;
}

/******************************************************************************/
.card.type-encounter-side-scheme,
.card.type-player-side-scheme,
.card.type-main-scheme,
.card.type-status-card {
    --rotate-times: 1;
}

#area-removed .card:not(.facedown) .badge-new::before,
body.show-all-cards .badge-new::before,
body.is-debug .deck.clicked .badge-new::before,
body.game-over .badge-new::before,
.area .card.peeking.facedown .face .image .badge-new::before,
.area .card:not(.facedown) .face .image .badge-new::before
{
    content: "New!";
    color: gold;
    font-weight: bold;

    top: 0;
    right: 0;

    position: absolute;
    font-weight: bold;
    transform: rotate(45deg);
    transform-origin: 50% 100%;

    filter: drop-shadow(2px 4px 6px yellow);
    --text-shadow-color: black;
    text-shadow: 2px 0 var(--text-shadow-color), -2px 0 var(--text-shadow-color), 0 2px var(--text-shadow-color), 0 -2px var(--text-shadow-color), 1px 1px var(--text-shadow-color), -1px -1px var(--text-shadow-color), 1px -1px var(--text-shadow-color), -1px 1px var(--text-shadow-color);;
}

/* .face {
    pointer-events: none;
} */

.card.type-insert {
    display: none;
}

.card.type-challenge {
    --card-width: var(--card-height);
}

.area:hover .card:hover,
.card.clicked-top {
    z-index: 1;
}

body.hold-ctrl .area:hover .card:not(:hover) {
    opacity: 0.5;
}
