*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --border-size: calc(1 * var(--font-size));
    --debug-border: ;

    --z-index-card-info-after: 0; /* HP */
    --z-index-card-info: 0;

    --z-index-prompt-text: 29;
    --z-index-card-hover-face-after: 30;
    --z-index-card-after: 31;
    --z-index-look-at: 32;

    --z-index-notification: 34;

    --z-index-res: 40;
    --z-index-anime: 40;

    --z-index-change-value: 55;

    --z-index-target-arrow: 90;

    --z-index-buttons: 91;
    --z-index-btn-button: 90;
    --z-index-btn-ok: 92;

    --z-index-deck-hover: 100;
    --z-index-area-hover: 90;

    --z-index-history: 200;
    --z-index-debug-input: 200;
    
    --z-index-right-side-bar: 200;
    --z-index-image-preview-div: 201;

    --z-index-achievement: 200;

    --center-area-width: calc(100% - var(--card-width) * 2 - var(--border-size) * 2);

    --anime-time: .2s;
    --anime-move-time: calc(var(--anime-time) * 1.5);
    --anime-shuffle-time: var(--anime-move-time); 
    --anime-shuffle-time: calc(var(--anime-time) * 4);
    --anime-time-card: calc(var(--anime-time) * 4);
    --button-opacity: 1;

    --area-gap: 6px;
    --font-size: 26px;
    --font-size-out: 16px;

    overflow: hidden;

    --scene-width: 1920;
    --scene-height: 1080;
}

body.is-debug {
    --debug-border: 1px solid green;
    --debug-area-background-color: #ad80515e;
}

.hide {
    display: none !important;
}

@font-face {
    font-family: 'marvel-icons';
    src: url('./ChampionsIcons.ttf?') format('truetype');
    font-weight: normal;
    font-style: normal;
}

textarea {
    background-color: #3b3b3b;
}

hr {
    clear: both;
    font-size: 0;
    border-width: 0;
    height: 0;
}

/*******************************************************************************/

#selected-data {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

#selected-data.hide {
    display: none;
}

body {
    position: relative;
    font-family: monospace;
    color: #a7a7a7;
    background: radial-gradient(#333, #111);
    overflow: hidden;
    height: 100vh;
    z-index: -1;

    font-size: 64px;
}

html,
body {
    background: radial-gradient(#333, #111);
}

